@model EasyMoneyTrack.Models.Spending

@{
    ViewData["Title"] = "Create";
}

@if (ViewBag.cblance != null)
{
    <h2 class="alert-info text-center">Your Current Blance is @ViewBag.cblance</h2>
}
@if(ViewBag.msg!=null)
{ 
<h3>@ViewBag.msg</h3>
}
<h4>Withdraw Money</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Withdraw" class="control-label"></label>
                <input asp-for="Withdraw" class="form-control" />
                <span asp-validation-for="Withdraw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
